<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERSONIFY</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    
		<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    {{!-- NAV BAR --}}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/images/personify_color.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            {{!-- Items to display next to LOGO --}}
            <div class="navbar-start">
            </div>

            {{!-- Items to display on right side of page --}}
            <div class="navbar-end mr-1">
                <a class="navbar-item" href="/">
                    Explore
                </a>
                <a class="navbar-item">
                    About
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Profile
                    </a>
                    <div class="navbar-dropdown">
                        {{!-- TODO: Update this to direct to user profile --}}
                        <a class="navbar-item" href="/profile/1">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            My Profile
                        </a>
                        {{!-- TODO: Optional: add settings page and send user to settings --}}
                        <a class="navbar-item">
                            <i class="fas fa-cog"></i>
                            Settings
                        </a>

                        {{!-- Add login/logout feature to main page TODO: !!!!--}}
                        {{#if user}}
                        <a class="navbar-item" href="/logout">
                            <i class="fas fa-cog"></i>
                            Logout
                        </a>
                        {{/if}}
                        {{#unless user}}
                        <a class="navbar-item" href="/login">
                            <i class="fas fa-cog"></i>
                            Login
                        </a>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {{{body}}}

    {{!-- FOOTER --}}
    <footer>
        <div class="content has-text-centered">
            <p>
                <strong>PERSONIFY</strong>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
</body>

</html>