<div class="hero">
    <div class="hero-body"></div>
</div>
<div class="container">
    <div class="columns">
        <div class="column is-8">

            {{!-- QUIZ CREATION: PAGE 1  --}}
            {{!-- Create quiz name/category section --}}
            <div class="box" id="quizBlock">
                <h1 class="title">Create a quiz, wizard!</h1>
                <form action="submit" id="quizCreation">
                    {{!-- Quiz Name Input --}}
                    <div class="field">
                        <label for="qName" class="label">Quiz Name:</label>
                        <div class="control">
                            <input class="input" id="qName" type="text" name="qName" placeholder="" required>
                        </div>
                    </div>

                    {{!-- Quiz Category Input --}}
                    <div class="field">
                        <label for="qCategory" class="label">Quiz Category:</label>
                        <div class="control">
                            <input class="input" id="qCategory" type="text" name="qCategory" placeholder="" required>
                        </div>
                    </div>

                    {{!-- Quiz Image Input --}}
                    <div class="field">
                        <label for="qPicture" class="label">Please provide an URL link to the image for the cover image
                            of your quiz.</label>
                        <div class="control">
                            <input class="input" id="qPicture" type="text" name="qPicture" placeholder="" required>
                        </div>
                    </div>

                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <button class="button is-warning">Continue to Personalities</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {{!-- QUIZ CREATION: PAGE 2 --}}
            {{!-- Create personality results section --}}
            <div class="box" id="personalityBlock">
                <h2 class="title">Create a new personality result!</h2>
                <form action="submit" id="personalityCreation">
                    {{!-- Personality Name Input --}}
                    <div class="field">
                        <label for="pName" class="label">New Personality Result</label>
                        <p>This is one result your user will see when they complete the quiz.</p>
                        <div class="control">
                            <input class="input" id="pName" type="text" name="pName" placeholder="" required>
                        </div>
                    </div>

                    {{!-- Personality Description Input --}}
                    <div class="field">
                        <label for="pDescription" class="label">New Personality Description</label>
                        <p>This is the description of your new personality.</p>
                        <div class="control has-icons-left">
                            <textarea class="textarea" id="pDescription" type="" name="pDescription" placeholder=""
                                required></textarea>
                        </div>
                    </div>

                    {{!-- Archetype Association Input --}}
                    <div class="field">
                        <label for="pArchetype" class="label">Archetype Association</label>
                        <p>Please select an archetype that this personality is representative of.</p>
                        <div class="control">
                            <div class="select">
                                <select id="pArchetype" class="" name="pArchetype">
                                    <option value="1">Warrior</option>
                                    <option value="2">Child</option>
                                    <option value="3">Orphan</option>
                                    <option value="4">Creator</option>
                                    <option value="5">Caregiver</option>
                                    <option value="6">Mentor</option>
                                    <option value="7">Joker</option>
                                    <option value="8">Magician</option>
                                    <option value="9">Ruler</option>
                                    <option value="10">Rebel</option>
                                    <option value="11">Romantic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <button class="button is-success">Add Personality to Quiz</button>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <button id="personalitiesFinished" class="button is-warning">Continue to
                                    Questions</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {{!-- QUIZ CREATION: PAGE 3 --}}
            {{!-- create question and answer sets section --}}
            <div class="box" id="QAndABlock">
                <h2 class="title">Questions Creation Page</h2>
                <form action="submit" id="allAnswers">

                    <div class="box">

                        {{!-- Question Input --}}
                        <div class="field" id="questionBlock">
                            <label for="questionText" class="label">Question</label>
                            <p>This is the question that will be displayed.</p>
                            <div class="control has-icons-left">
                                <textarea class="textarea" id="questionText" type="" name="questionText" placeholder=""
                                    required></textarea>
                            </div>
                        </div>
                    </div>

                    {{!-- QUESTION 1 --}}
                    <div class="box">

                        <h3 class="is-size-4">Answer 1</h3>
                        <input type="checkbox" id="answer1" name="answer1" data-num="1" checked>
                        <label for="answer1"> Include answer</label>

                        <div id="a1">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="answerText1" class="label">Answer Text</label>
                                        <div class="control has-icons-left">
                                            <textarea class="textarea" id="answerText1" name="answerText1"
                                                rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <label for="aPersonality1" class="label">Personality</label>
                                        <div class="select">
                                            <select name="aPersonality1" id="aPersonality1"
                                                class="personalityList"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <label for="aPoints1" class="label">Points</label>
                                    <div class="select">
                                        <select name="aPoints1" id="aPoints1">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- ANSWER 2 --}}
                    <div class="box">

                        <h3 class="is-size-4">Answer 2</h3>
                        <input type="checkbox" id="answer2" name="answer2" data-num="2" checked>
                        <label for="answer2"> Include answer</label>

                        <div id="a2">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="answerText2" class="label">Answer Text</label>
                                        <div class="control has-icons-left">
                                            <textarea class="textarea" id="answerText2" name="answerText2"
                                                rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <label for="aPersonality2" class="label">Personality</label>
                                        <div class="select">
                                            <select name="aPersonality2" id="aPersonality2"
                                                class="personalityList"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <label for="aPoints2" class="label">Points</label>
                                    <div class="select">
                                        <select name="aPoints2" id="aPoints2">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- ANSWER 3 --}}
                    <div class="box">

                        <h3 class="is-size-4">Answer 3</h3>
                        <input type="checkbox" id="answer3" name="answer3" data-num="3" checked>
                        <label for="answer3"> Include answer</label>

                        <div id="a3">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="answerText3" class="label">Answer Text</label>
                                        <div class="control has-icons-left">
                                            <textarea class="textarea" id="answerText3" name="answerText3"
                                                rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <label for="aPersonality3" class="label">Personality</label>
                                        <div class="select">
                                            <select name="aPersonality3" id="aPersonality3"
                                                class="personalityList"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <label for="aPoints3" class="label">Points</label>
                                    <div class="select">
                                        <select name="aPoints3" id="aPoints3">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- ANSWER 4 --}}
                    <div class="box">

                        <h3 class="is-size-4">Answer 4</h3>
                        <input type="checkbox" id="answer4" name="answer4" data-num="4" checked>
                        <label for="answer4"> Include answer</label>

                        <div id="a4">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="answerText4" class="label">Answer Text</label>
                                        <div class="control has-icons-left">
                                            <textarea class="textarea" id="answerText4" name="answerText4"
                                                rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <label for="aPersonality4" class="label">Personality</label>
                                        <div class="select">
                                            <select name="aPersonality4" id="aPersonality4"
                                                class="personalityList"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <label for="aPoints4" class="label">Points</label>
                                    <div class="select">
                                        <select name="aPoints4" id="aPoints4">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- ANSWER 5 --}}
                    <div class="box">

                        <h3 class="is-size-4">Answer 5</h3>
                        <input type="checkbox" id="answer5" name="answer5" data-num="5">
                        <label for="answer5"> Include answer</label>

                        <div id="a5">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="answerText5" class="label">Answer Text</label>
                                        <div class="control has-icons-left">
                                            <textarea class="textarea" id="answerText5" name="answerText5"
                                                rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <label for="aPersonality5" class="label">Personality</label>
                                        <div class="select">
                                            <select name="aPersonality5" id="aPersonality5"
                                                class="personalityList"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <label for="aPoints5" class="label">Points</label>
                                    <div class="select">
                                        <select name="aPoints5" id="aPoints5">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    {{!-- ANSWER 6 --}}
                    <div class="box">

                        <h3 class="is-size-4">Answer 6</h3>
                        <input type="checkbox" id="answer6" name="answer6" data-num="6">
                        <label for="answer6"> Include answer</label>

                        <div id="a6">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="answerText6" class="label">Answer Text</label>
                                        <div class="control has-icons-left">
                                            <textarea class="textarea" id="answerText6" name="answerText6"
                                                rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <label for="aPersonality6" class="label">Personality</label>
                                        <div class="select">
                                            <select name="aPersonality6" id="aPersonality6"
                                                class="personalityList"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <label for="aPoints6" class="label">Points</label>
                                    <div class="select">
                                        <select name="aPoints6" id="aPoints6">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- ANSWER 7 --}}
                    <div class="box">

                        <h3 class="is-size-4">Answer 7</h3>
                        <input type="checkbox" id="answer7" name="answer7" data-num="7">
                        <label for="answer7"> Include answer</label>

                        <div id="a7">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="answerText7" class="label">Answer Text</label>
                                        <div class="control has-icons-left">
                                            <textarea class="textarea" id="answerText7" name="answerText7"
                                                rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <label for="aPersonality7" class="label">Personality</label>
                                        <div class="select">
                                            <select name="aPersonality7" id="aPersonality7"
                                                class="personalityList"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <label for="aPoints7" class="label">Points</label>
                                    <div class="select">
                                        <select name="aPoints7" id="aPoints7">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- ANSWER 8 --}}
                    <div class="box">

                        <h3 class="is-size-4">Answer 8</h3>
                        <input type="checkbox" id="answer8" name="answer8" data-num="8">
                        <label for="answer8"> Include answer</label>

                        <div id="a8">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label for="answerText8" class="label">Answer Text</label>
                                        <div class="control has-icons-left">
                                            <textarea class="textarea" id="answerText8" name="answerText8"
                                                rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <label for="aPersonality8" class="label">Personality</label>
                                        <div class="select">
                                            <select name="aPersonality8" id="aPersonality8"
                                                class="personalityList"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <label for="aPoints8" class="label">Points</label>
                                    <div class="select">
                                        <select name="aPoints8" id="aPoints8">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <button class="button is-success">Add Question to Quiz</button>

                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <button class="button is-warning" id="questionsFinished">Review Quiz</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {{!-- QUIZ CREATION: PAGE 4 --}}
            {{!-- User confirmation for posting a test --}}
            <div class="box" id="completeBlock">
                <h2 class="is-size-4">Ready to Post?</h2>
                <h3 class="is-size-6">Please take a moment to review your quiz. Do you want finish creating this quiz?
                </h3>
                <button class="button is-personify-purple" id="postQuiz">Post my quiz!</button>
            </div>

            {{!-- QUIZ CREATION: PAGE 5 --}}
            {{!-- User confirmation that a test has been posted to the website --}}
            <div class="box" id="creationSuccessful">
                <h2 class="is-size-4">Success!</h2>
                <h3 class="is-size-6">Your quiz has been created! Please check out our list of featured quizzes.</h3>
                <a href="/"><button class="button is-personify-purple">Quizzes</button></a>
            </div>
        </div>
        <div class="column is-4">
            <div class="box">

                {{!-- Shows users what they have entered thus far --}}
                <h2 class="title">Your Quiz So Far:</h2>
                <div class="column" id="allEnteredInformation">
                    <div class="card p-2">
                        <h3 class="is-size-4">General Quiz Info:</h3>
                        <h4 class="is-size-6" id="quizTitle"></h4>
                        <h4 class="is-size-6" id="quizCategory"></h4>
                    </div>


                    {{!-- Personalities Progress --}}
                    <div class="card p-2">
                        <h4 class="is-size-4">Personality Info:</h4>
                        <div id="quizPersonalities"></div>
                    </div>

                    {{!-- Quiz Questions Progress --}}
                    <div class="card p-2">
                        <h4 class="is-size-4">Questions:</h4>
                        <div id="quizQuestions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






{{!-- Create a  bulma modal with archetype explanations--}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/userQuiz.js"></script>