<h1 data-quizid = "{{quizID}}" id = "questionBlock">{{quiz}}</h1>


<ul id ="answerBlock">
    <li>
        <p>Welcome to the {{quiz}} quiz! Click "next" to get started.</p>
    </li>
</ul>

    <button id = "nextButton">Next</button>

<script src="/assets/js/quiz.js"></script>