<h1 id = "questionBlock">{{Quiz}} Quiz</h1>


<ul id ="answerBlock">
    <li>
        {{!-- Replace with handlebars once app is ready --}}
        <p>"Pokemon Quiz" {{Quiz}}</p>
    </li>
</ul>

    <button id = "nextButton">Next</button>

{{!-- name of quiz --}}