<div class="container signupForm">
    <div class="row">
        <div class="column is-justify-content-center">
            <form action="/signup" method="POST">
                <h3>Please create an account below to take our quizzes!</h3>

                <h4>User Name</h4>
                <div class="row">
                    <input type="text" name="user_name" placeholder="username">
                </div>

                <h4>First Name</h4>
                <div class="row">
                    <input type="text" name="first_name" placeholder="firstname">
                </div>

                <h4>Last Name</h4>
                <div class="row">
                    <input type="text" name="last_name" placeholder="lastname">
                </div>

                <h4>Email</h4>
                <div class="row">
                    <input type="text" name="email" placeholder="email">
                </div>

                <h4>Password</h4>
                <div class="row">
                    <input type="password" name="password" placeholder="password">  
                </div>

                <div class="row">
                    <input type="submit" value="Sign up!">
                </div>
            </form>
        </div>
    </div>
</div>
